body {
  transition: all 0.5s ease;
}

h1,
p {
  transition: all 0.1s ease;
}

* {
  font-family: "HelveticaNeueW01-55Roma", "Helvetica LT Std Light",
    "Helvetica Neue LT Std", Helvetica;
}

p {
  line-height: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-bottom: 0;
}

a {
  transition: all 0.3s ease;
  text-decoration: none;
  color: #808080;
}

.social-network li a:hover {
  color: #000;
}

.name-logo,
a:hover,
.active-page-link {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffbf00),
    to(#ff6a00)
  );
  background: linear-gradient(to right, #ffbf00, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}

.text-vertical-margin {
  margin-top: 5px;
  margin-bottom: 0;
}

.mode-toggle {
  position: fixed !important;
  width: 70px;
  bottom: 20px;
  right: 20px;
}

.mode-toggle :focus,
.mode-toggle :hover,
.mode-toggle,
button :focus {
  outline: none;
}
