body {
  transition: all 0.5s ease;
}

h1,
p {
  transition: all 0.1s ease;
}

* {
  font-family: "HelveticaNeueW01-55Roma", "Helvetica LT Std Light",
    "Helvetica Neue LT Std", Helvetica;
}

p {
  line-height: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-bottom: 0;
}

a {
  transition: all 0.3s ease;
  text-decoration: none;
  color: #808080;
}

.text-vertical-margin {
  margin-top: 5px;
  margin-bottom: 0;
}

.day-mode a:hover {
  color: #0d0d0d;
}

.day-mode .article a {
  color: #000;
}

.day-mode .article small,
.day-mode .article p {
  color: #474747;
}

.night-mode .article a {
  color: #fdbd12;
}

.night-mode .article a:hover {
  color: #ffdd80;
}

.night-mode .article small,
.night-mode .article p {
  color: #ececec;
}

.day-mode .article a:hover {
  color: #fdbd12;
}

.night-mode a:hover {
  color: #fdbd12;
}

.mode-toggle {
  position: fixed !important;
  width: 70px;
  bottom: 20px;
  right: 20px;
}

.mode-toggle :focus,
.mode-toggle :hover,
.mode-toggle,
button :focus {
  outline: none;
}
