.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.main-logo {
  display: flex;
  align-items: center;
}

.main-header ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.7em 1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}
