.main-header {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  justify-content: space-around;
}

.main-header ul {
  display: flex;
  padding: 0.7em 1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  flex-wrap: wrap;
}

.input-path {
  font-weight: 600;
  font-size: 1.2em;
  background: transparent;
  border: solid 5px transparent;
  caret-color: #0095ff;
  color: #0095ff;
}

.input-path:focus {
  outline: none;
}
