/**
* Add back the container background-color, border-radius, padding, margin
* and overflow that we removed from <pre>.
*/
.gatsby-highlight {
  background-color: #2d2d2d;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;

  pre[class*="language-"] > code {
    border-left: 10px solid #ffc656;
    box-shadow: -1px 0px 0px 0px #ffc656, 0px 0px 0px 1px #dfdfdf;
  }
  /**
  * Remove the default PrismJS theme background-color, border-radius, margin,
  * padding and overflow.
  * 1. Make the element just wide enough to fit its content.
  * 2. Always fill the visible space in .gatsby-highlight.
  * 3. Adjust the position of the line numbers
  */
  pre[class*="language-"] {
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: initial;
    float: left;
    min-width: calc(100% - 3em);

    &.line-numbers {
      padding-left: 3em;
      padding-right: 1em;

      .line-numbers-rows {
        right: calc(100% - 25px);
        left: unset !important;
      }

      .gatsby-highlight-code-line {
        display: block;
        margin-right: -1em;
        margin-left: -1em;
        padding-right: 1em;
        padding-left: 0.75em;
      }
    }
  }
}
