.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.card-title{
  font-size: 1.25em;
  font-weight: 600;
  padding: 10px 0 0 0;
  margin: 0;
  overflow-wrap: break-word;
}

.card{
  padding: .5em;
  border-radius: 5px;
}

.card-desc{
  margin: 5px 0 25px 0;
}

.card-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  margin: 5px 0 !important;
}

.card a {
  border: 1px solid #f90;
  border-radius: 5px;
  padding: 5px 50px;
}

.card a:hover {
  background-color: #f90;
  color: #FFF !important;
}

.imgcont {
  text-align: center;
  min-height: 200px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  max-width: 15em;
  max-height: 200px;
}

.card-info{
  min-height: 100px;
}

h3.projects-title {
  position: relative;
  margin: 25px 0;
  font-size: 1.7em;
}

h3.projects-title:before {
  border-bottom: 3px solid #f90;
  padding: 20px 80px;
  position: absolute;
  content: '';
}

.day-mode .card{
  border: 1px solid #000;
}

.night-mode .card{
  border: 1px solid #f90;
}

.day-mode .card:hover {
  box-shadow: 10px 10px 30px -5px rgba(132, 132, 132, 0.65);
}

.night-mode .card:hover {
  box-shadow: 10px 10px 30px -5px rgb(199, 120, 3);
}