.articleSummary {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  margin-bottom: 4rem;

  & h3 {
    font-size: 1.6em;
    margin: 10px 0;

    & a:hover {
      border-bottom: none;
    }
  }
}
